<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
				<string>7z</string>
				<string>rar</string>
				<string>tar</string>
				<string>gz</string>
				<string>tgz</string>
				<string>bz2</string>
				<string>tbz2</string>
				<string>tbz</string>
				<string>xz</string>
				<string>txz</string>
				<string>zst</string>
				<string>tzst</string>
				<string>zipx</string>
				<string>jar</string>
				<string>apk</string>
				<string>xpi</string>
				<string>epub</string>
				<string>cab</string>
				<string>iso</string>
				<string>dmg</string>
				<string>wim</string>
				<string>swm</string>
				<string>esd</string>
				<string>lzh</string>
				<string>lha</string>
				<string>arj</string>
				<string>cpio</string>
				<string>deb</string>
				<string>rpm</string>
				<string>xar</string>
				<string>xip</string>
				<string>001</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
